* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #3d3d3d;
}

.wrapper {
  width: 100%;
  margin: 0rem auto;
}

/* 
==============================
header
==============================
*/

.header {
  background-color: white;
  width: 100%;
  padding: 1.5rem 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
}
.header-center {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-sidebar {
  font-size: 2rem;
  cursor: pointer;
}
.title h1 {
  font-size: 2.5rem;
  color: #ffc000;
}
.switch-container {
  background-color: #ffc000;
  width: 7rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  border-radius: 2.5rem;
  position: relative;
  box-shadow: inset 0px 0px 4px -2px #000000;
}
.switch-container h3 {
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
}
.train {
  margin-left: auto;
  margin-right: 0.75rem;
  /* display: none; */
}
.play {
  margin-right: auto;
  margin-left: 0.75rem;
  display: none;
}
.switch-btn {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 0.05rem;
  left: 0.05rem;
  /* transform: translateX(4.5rem); */
  padding: inherit;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: all 300ms linear;
}

/* 
==============================
All pages
==============================
*/

.page {
  width: 95%;
  margin: 0 auto;
  padding: 3rem 0;
}
.page-title {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.page-center {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 1.5rem));
  gap: 2rem;
  justify-content: space-between;
}

/* 
==============================
Main page
==============================
*/

.category {
  border-radius: 0.5rem;
  border: 1px solid #c0c0c0;
  cursor: pointer;
  padding: 0.5rem;
  transition: all 300ms linear;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.category:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.category img {
  width: 100%;
  margin-bottom: 1rem;
}
.category h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* 
==============================
Category page
==============================
*/
.single-card {
  background-color: transparent;
  perspective: 1000px;
  cursor: pointer;
  border-radius: 0.5rem;
}

/* .single-card:hover .single-card-inner {
  transform: rotateY(180deg);
} */

.single-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 1px solid #c0c0c0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.single-card-front,
.single-card-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.single-card-back {
  transform: rotateY(180deg);
}

.single-card-front img {
  width: 100%;
  margin-bottom: 1rem;
}
.single-card-back img {
  width: 100%;
  margin-bottom: 1rem;
}

.single-card-front h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.single-card-back h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.single-card-front i {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
}

/* hidden card is added to find the current height of each card*/

.hidden-card {
  padding: 0.5rem;
  border-radius: 0.5rem;
  visibility: hidden;
}
.hidden-card img {
  width: 100%;
  margin-bottom: 1rem;
}
.hidden-card h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* 
==============================
sidebar
==============================
*/

.sidebar-background {
  background: rgba(41, 41, 41, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.sidebar-background-hidden {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
  width: 320px;
  height: 100vh;
  overflow-y: auto;
  transition: all 300ms ease-in-out;
}

.sidebar-hidden {
  transform: translateX(-100%);
}

.close-sidebar {
  position: absolute;
  top: 0.625rem;
  right: 1rem;
  font-size: 2rem;
  line-height: 100%;
  cursor: pointer;
  color: red;
}

.sidebar-menu {
  margin-top: 5rem;
  margin-left: 3rem;
  list-style-type: none;
}

.sidebar-menu li {
  cursor: pointer;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  width: fit-content;
}
.sidebar-category {
  margin-left: 1.5rem;
}
