* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #3d3d3d;
}

body {
  position: relative;
}

.wrapper {
  width: 100%;
  margin: 0rem auto;
}

/* 
==============================
header
==============================
*/

.header {
  background-color: white;
  width: 100%;
  padding: 1.5rem 0;
  box-shadow: rgb(240 241 242) 0px 2px 8px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header-center {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger {
  position: relative;
  z-index: 4;
  font-size: 2rem;
  cursor: pointer;
  transition: all 300ms linear;
}
.logo {
  cursor: pointer;
}
.logo h1 {
  font-size: 2.5rem;
}
.switch-container {
  background-color: #ffc000;
  width: 7rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  border-radius: 2.5rem;
  position: relative;
  box-shadow: inset 0px 0px 4px -2px #000000;
}

.switch-container-hidden {
  visibility: hidden;
  opacity: 0;
}

.switch-container h3 {
  font-size: 1rem;
  text-transform: capitalize;
  color: white;
  letter-spacing: 0.8px;
}
.train {
  margin-left: auto;
  margin-right: 1.2rem;
}
.play {
  margin-right: auto;
  margin-left: 1.2rem;
}
.hidden {
  display: none;
}
.switch-btn {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 0.1rem;
  left: 0.05rem;
  padding: inherit;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: all 300ms linear;
}

.switch-btn-moves-right {
  transform: translateX(4.5rem);
}

/* 
==============================
sidebar
==============================
*/

.sidebar-background {
  background: rgba(41, 41, 41, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.sidebar-background-hidden {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
  width: 320px;
  height: 100vh;
  overflow-y: auto;
  transition: all 300ms ease-in-out;
}

.sidebar-hidden {
  transform: translateX(-100%);
}

.sidebar-menu {
  margin-top: 5.8125rem;
  margin-left: 2.5vw;
  list-style-type: none;
}

.sidebar-menu li {
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.sidebar-menu li:hover {
  color: #000000;
}

.menu-active {
  background: #dfe0e5;
  padding: 0.5rem;
  border-left: 2px solid #5bc236;
  color: #000000;
}

.sidebar-category {
  margin-left: 0.5rem;
}

/* 
==============================
All pages
==============================
*/

.page {
  width: 95%;
  margin: 0 auto;
  padding: 3rem 0;
}
.page-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.page-title {
  font-size: 2rem;
}
.game-status {
  display: flex;
  align-items: center;
  column-gap: 3px;
  width: 33.3%;
  overflow: hidden;
  padding: 0.25rem;
}
.game-status i {
  font-size: 1.75rem;
}
.game-status .correct {
  color: #e3b130;
}
.game-status .wrong {
  color: #ff0000;
}
.page-center {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 1.5rem));
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

/* 
==============================
Main page
==============================
*/

.category {
  border-radius: 0.5rem;
  border: 1px solid #c0c0c0;
  cursor: pointer;
  padding: 0.5rem;
  transition: all 300ms linear;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}
.category:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.category img {
  width: 100%;
  margin-bottom: 1rem;
}
.category h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* 
==============================
Category page
==============================
*/
.single-card {
  background-color: transparent;
  perspective: 1000px;
  cursor: pointer;
  border-radius: 0.5rem;
  perspective: 1000px;
}

.single-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 1px solid #c0c0c0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card {
  transform: rotateY(180deg);
}

.single-card-front,
.single-card-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 0.5rem;
  border-radius: 0.5rem;
  will-change: transform;
}

.single-card-back {
  transform: rotateY(180deg);
  cursor: auto;
}

.single-card-front img {
  width: 100%;
  margin-bottom: 1rem;
}
.single-card-back img {
  width: 100%;
  margin-bottom: 1rem;
}

.single-card-front h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.single-card-back h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.single-card-front i {
  position: absolute;
  bottom: 0.75rem;
  right: 1rem;
  font-size: 1.8rem;
  transition: all 0.7s linear;
  will-change: transform;
}

/* hidden card is added to find the current height of each card*/
.hidden-card {
  padding: 0.5rem;
  border-radius: 0.5rem;
  visibility: hidden;
}
.hidden-card img {
  width: 100%;
  margin-bottom: 1rem;
}
.hidden-card h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* 
==============================
Play mode
==============================
*/

.play-card {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #c0c0c0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 300ms linear;
}

.play-card-inactive {
  opacity: 0.4;
  cursor: auto;
  box-shadow: none;
}
.play-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-card h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 1rem 0;
  visibility: hidden;
}

.start-btn {
  width: 7rem;
  height: 2.5rem;
  background-color: #5bc236;
  letter-spacing: 0.8px;
  color: white;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 2.5rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 300ms linear;
}
.rotate-btn {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  background-color: #5bc236;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  transition: all 300ms linear;
}
.rotate-btn i {
  color: white;
  margin: auto;
  display: block !important;
}
.rotate-icon {
  transform: rotate(360deg);
}
.start-btn:hover {
  background-color: #51ae30;
  box-shadow: 0px 15px 20px rgba(81, 174, 48, 0.4);
}
.rotate-btn:hover {
  background-color: #51ae30;
}

/* 
==============================
Game Over
==============================
*/

.game-over-window {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background: url(/src/img/game-over.jpg) no-repeat center center fixed;
  background-size: cover;
}

.success-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.failure-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.failure-window img {
  margin-bottom: 2rem;
}
.failure-window h1 {
  font-size: 4.5rem;
  color: #990011ff;
}
.failure-window h1 span {
  color: #990011ff;
}

/* 
==============================
Statistics page
==============================
*/

.statistics {
  width: 95%;
  margin: 0 auto;
  padding: 3rem 0;
}

.statistics-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.statistics-title {
  font-size: 2rem;
}

.statistics-btns {
  display: flex;
  column-gap: 1rem;
}

.difficult-btn {
  width: 10.5rem;
}

.reset-btn {
  width: 10.5rem;
}

.difficult-btn,
.reset-btn {
  height: 2.5rem;
  background-color: #5bc236;
  letter-spacing: 0.8px;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 2.5rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 300ms linear;
}

.difficult-btn:hover,
.reset-btn:hover {
  background-color: #51ae30;
  box-shadow: 0px 15px 20px rgba(81, 174, 48, 0.4);
}

.statistics table {
  width: 100%;
  min-width: 1280px;
  border-collapse: collapse;
  font-size: 1.2rem;
  padding: 2rem;
}

.statistics table th {
  text-align: left;
  padding: 1rem 0.5rem;
  background-color: #808080;
  color: white;
  border: 1px solid #c0c0c0;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  position: relative;
}

.statistics caption {
  width: fit-content;
  margin-left: auto;
}
.remove-filter {
  width: 2rem;
  height: 1.9rem;
  background-color: #808080;
  border: 1px solid #c0c0c0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-inactive {
  opacity: 0.4;
}

.statistics caption i {
  font-size: 1.2rem;
  color: white;
}

.statistics table th i {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
}

.statistics table th:hover {
  background-color: #707070;
}

.statistics th i {
  color: white;
}

.statistics table td {
  padding: 0.2rem 0.5rem;
  border: 1px solid #c0c0c0;
}

.statistics table tr:nth-child(even) {
  background-color: #d3d3d3;
}

.empty-window {
  width: 95%;
  margin: 0 auto;
}
.empty-window h2 {
  font-size: 1.8rem;
  margin: 3rem 0;
}
.empty-body {
  min-height: 50vh;
  position: relative;
  border: 1px solid #707070;
}

.empty-body h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #a9a9a9;
  font-size: 2rem;
}

.empty-body i {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #a9a9a9;
}

/* 
==============================
Responsiveness
==============================
*/

@media (min-width: 320px) and (max-width: 575px) {
  .header-center {
    width: 90%;
  }
  .logo {
    display: none;
  }
  .switch-btn {
    top: 0.05rem;
  }
  .sidebar-menu {
    margin-left: 5vw;
  }
  .page {
    width: 90%;
    max-width: 375px;
  }
  .page-top {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5rem;
    margin-bottom: 2.5rem;
  }
  .game-status {
    width: 100%;
    padding: 0.25rem 0;
  }
  .page-center {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .statistics {
    width: 90%;
  }
  .statistics-top {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
    margin-bottom: 1rem;
  }
  .statistics-btns {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
  }

  .success-window img,
  .failure-window img {
    width: 250px;
  }

  .failure-window h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .logo {
    display: none;
  }
  .switch-btn {
    top: 0.05rem;
    left: 0.075rem;
  }
  .page-center {
    grid-template-columns: repeat(2, calc(50% - 1rem));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .page-center {
    grid-template-columns: repeat(3, calc(33.3333% - 1.3333rem));
  }
}
